.description{
  margin-top: 4%;
}
.product_description {
  text-align: justify;
  margin-left: 4%;
  margin-right: 8%;
}

.description_title{
  margin-left: 4%;
  margin-bottom: 2%;
  padding-bottom: 5px;
  color: #286091;
}

.product_actions {
  text-align: right;
}

.badge {
  font-size: 20px;
  background: #2196F3;
  padding: 10px 12px;
  display: block;
  margin: 0 auto;
  width: 44%;
}

.thumbnail {
  height: 90%;
  width: 100%;
  margin-top: 5%;
}

img{
  padding-top: 5%;
  display:block;
  margin:auto;
}
.img-size{
  width: 430px;
  height: 300px;
}

.product-name{
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  text-decoration: solid;
  font-size: 20px;
}

.btn_buy{
  background:#ea9c51;
  color: #FFFFFF;
  padding: 5px 10px;

  height: 10%!important;
  font-size: medium;
  display: block;
  margin: 0 auto;
  width: 44%;
}
.btn_buy:hover{
  background: #dd8f53;
}

.space{
  margin-top: 50px;
}

i{
  display: block;
  margin: 0 auto;
}

.btn_img{
  display: block;
  margin: 0 auto;
  height: 10%;
}

.btn_txt{
  height: 10%;
  margin: 0;
}

.tooltip {
  font-size: 20px!important;
}



