.description{
  margin-top: 4%;
}
.product_description {
  text-align: justify;
  margin-left: 4%;
}

.description_title{
  margin-left: 4%;
  margin-bottom: 2%;
  padding-bottom: 5px;
  color: #2196F3;
}

.product_actions {
  text-align: right;
}

.badge {
  font-size: 25px;
  background: #2196F3;
  display: block;
  margin: 0 auto;
  width: 40%;
  padding: 10px;
}

.thumbnail {
  height: 90%;
  width: 100%;
  margin-top: 5%;
}

.img{
  padding-top: 5%;
  display:block;
  margin:auto;
}
.img-size{
  width: 450px;
  height: 400px;
}

.product-name{
  margin-bottom: 10%;
}

.btn_buy{
  background:#ea9c51;
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;

  display: block;
  margin: 0 auto;
  width: 60%;
  font-size: xx-large;
}

.space{
  margin-top: 50px;
}

i{
  margin-right: 25px;
}

.btn_img{
  margin-right: auto;
  margin-left: auto;
}

.btn_txt{

}


