<div class="container">
  <div class="row">
    <app-banner [idCategory]="idCategory"></app-banner>
  </div>


  <div class="row">
    <div *ngFor="let product of product_list">
      <app-product [product]="product"></app-product>
    </div>
    <div class="message" *ngIf="product_list.length < 1">
      <h1>No products to show</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="content-next">
        <button class="btn btn-primary center-button-left" [disabled]="product_list.length < 1" (click)="nextPage()">Next</button>
      </div>
      <div class="content-back">
        <button class="btn btn-primary center-button-right" [disabled]="page == 1" (click)="backPage()">Back</button>
      </div>
    </div>
  </div>
</div>
