.thumbnail {
  overflow: hidden;
  height: 420px;
}
/* product name and description */

.product-name, .product_description {
  width: 100%;
}
.product-name{
  height: 60px;
}

.product_description {
  height: 60px;
}

.product_description > p {
  text-align: justify;
}

/* product price */
.product_price{
  text-align: right;
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
}

.badge {
  font-size: 25px;
  background: #2196F3;
}

.img-size{
  width: 315px;
  height: 210px;
}

.pr-size{
  width: 100%;
}

#product-details {
  float: left;
}

a:hover {
  cursor: pointer;
}

