<div class="col-md-4 col-sm-6">
  <div class="thumbnail">
    <a (click)="productDetails(product)">
      <img class="img-size" src="{{ product.url_img }}" alt="{{ product.name }}">
    </a>
    <div class="caption pr-size">
      <div class="product-name">
        <h3>
          <a (click)="productDetails(product)" >
            {{ product.name }}
          </a>
        </h3>
      </div>
      <div class="product_description">
        <p>
          {{ product.short_description }}
        </p>
      </div>
      <div class="product_price">
        <a id="product-details" class="btn btn-default" (click)="productDetails(product)">
          Details
        </a>
        <span class="badge">{{ product.price }} {{ currency }}</span>
      </div>
    </div>
  </div>
</div>
