/* header */
nav {
  box-shadow: 0 1px 4px 1px #BDBDBD;
  background-color: white;
}

/* shopping cart */

.shopping_cart {
  padding: 4px;
  margin-right: 15px;
}

i {
  transition: 500ms;
  color: #F44336;
  border-radius: 50%;
}

i:hover {
  cursor: pointer;
}

/* app section*/
.app-content {
  margin-top: 60px;
}

section {
  margin: 20px;
}

@media (max-width: 900px) {
  .nav-movil{
    float: right;
  }
  .header-movil{
    float: left;
    position: relative;
    margin-top: 7px;
  }
}



